extends template/base
block vars
  - var page = "signin"
  - BASEURL = ".."
block content
  .container
    .row.title
      .col-sm-12
        h3 注册表单
    .row
      hr
      .col-sm-12
        form.form-horizontal(role='form')#signin-form
          .form-group
            label.control-label.col-sm-2(for='name') 会员名
              span.need *
            .col-sm-6
              input#name.form-control(type='text', placeholder='请输入会员名称',name='username',required)
            .note(style="display:none;clear:both;") 
          .form-group
            label.control-label.col-sm-2(for='email') 邮箱
              span.need *
            .col-sm-6
              input#email.form-control(type='email', placeholder='请输入邮箱',name='email',required)
            .note(style="display:none;clear:both;") 
          .form-group
            label.control-label.col-sm-2(for='password') 密码
              span.need *
            .col-sm-6
              input#password.form-control(type='password', placeholder='请输入登录密码',name='password',required)
            .note(style="display:none;clear:both;") 
          .form-group
            label.control-label.col-sm-2(for='comfirm-password') 确认密码
              span.need *
            .col-sm-6
              input#comfirm-password.form-control(type='password', placeholder='请确认密码',name='comfirmPassword',required)
            .note(style="display:none;clear:both;") 
          .form-group
            .col-sm-offset-2.col-sm-6
              button.btn.btn-full.btn-orange(type='submit') 注册
block js
  script(src="../js/components/jquery.validate.js")
  script(src="../js/components/signin.js")
