/* Vars */
//form-control
$form-control-background-color = #fff
$form-control-border-color = #82807c
$form-control-border-radius = 0
//success
$success-border-color = #3c763d
$warning-border-color = #8a6d3b
$error-border-color = #a94442
//btn
$btn-border-radius = 0
//btn-custome
$btn-custome-background = url(../images/btn-bg.jpg) left top repeat-x
$btn-custome-color = #fff


/* Mixins */



/* Global */
body
  background-color #f1f1f1
hr
  border-top 1px solid #ccc
.title
  margin-top 40px
.form-control
  border-radius $form-control-border-radius
  background-color $form-control-background-color
  border 1px solid $form-control-border-color
.success
  border-color $success-border-color
  -webkit-box-shadow inset 0 1px 1px rgba(0,0,0,.075)
  box-shadow inset 0 1px 1px rgba(0,0,0,.075)
.warning
  border-color $warning-border-color
  -webkit-box-shadow inset 0 1px 1px rgba(0,0,0,.075)
  box-shadow inset 0 1px 1px rgba(0,0,0,.075)
.error
  border-color $error-border-color
  -webkit-box-shadow inset 0 1px 1px rgba(0,0,0,.075)
  box-shadow inset 0 1px 1px rgba(0,0,0,.075)
.btn
  border-radius $btn-border-radius
.btn-custome
  background $btn-custome-background
  color $btn-custome-color
  &:hover
    color $btn-custome-color

